<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mulin.sharebus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE."/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="76f601aac29e5a1e76e6baedf2ebb0f6" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>

        <activity android:name=".ui.activity.FragmentLoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">


        </activity>
        <activity android:name=".ui.activity.LoginActivity"
            >

        </activity>
        <activity android:name=".ui.activity.FragmentMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
           >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter> >-->

        </activity>
        <activity android:name=".ui.activity.WelcomeActivity" >

        </activity>
        <activity android:name=".ui.activity.SplashActivity"
           >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.activity.CrossfadeDrawerLayoutActvitiy"
            android:theme="@style/Theme.Design.Light.NoActionBar">


        </activity>

        <activity android:name=".ui.activity.CityChooseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".ui.activity.testActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
